<%= form_with model: business do |form| %>
  <div>
    <%= form.label :name %><br>
    <%= form.text_field :name %>
    <% business.errors.full_messages_for(:name).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>

  <h2>Display Schedule?</h2>
  <%= check_box(:business, :toggle_schedule_display, options = {}, checked_value = true, unchecked_value = false) %>

  <div>
    <%= form.submit %>
  </div>
<% end %>