<nav class="page-specific">
  <h1><%= @business.name %></h1>

  <div class="dropdown">
    <button class="dropbtn nav-link">Sites</button>
    <div class = "dropdown-content">
      <% if @sites.any? %>
        <% @sites.each do |site| %>
          <%= link_to site.name, business_site_path(site)%>
        <% end %>
      <% else %>
        <div class="dropdown-empty-message" >This Business Has No Sites</div>
      <% end %>
    </div>
  </div>

  <div class="dropdown">
    <button class="dropbtn nav-link">Members</button>
    <div class = "dropdown-content">
      <% if @members.any? %>
        <% @members.each do |member| %>
          <%= link_to member.name, business_member_path(@business, member)%>
        <% end %>
      <% else %>
        <div class="dropdown-empty-message" >This Business Has No Members</div>
      <% end %>
    </div>
  </div>

  <div class="dropdown">
    <button class="dropbtn nav-link">Employees</button>
    <div class="dropdown-content">
      <div class="dropdown-special"><%= link_to "Add Employee", new_business_employee_path(@business) %></div>
      <% if @employees.any? %>
        <% @employees.each do |employee| %>
          <%= link_to "#{employee.name} - #{employee.role}", business_employee_path(@business, employee)%>
        <% end %>
      <% else %>
        <div class="dropdown-empty-message" > This Business Has No Employees</div>
      <% end %>
    </div>
  </div>

  <div><%= link_to "Analytics", analytics_business_path(@business), class: "nav-link" %></div>
  <div><%= link_to "Edit", edit_business_path(@business), class: "nav-link" %></div>
  <div><%= link_to "All Businesses", businesses_path, class: "nav-link" %></div>
</nav>

<body>
  <%= render "partials/calendar" if @business.display_schedule %>
</body>
