<nav class="page-specific">
  <h1><%= @business.name %></h1>

  <%= render partial: "partials/nav_dropdown", locals: {
                                        title: "Sites",
                                        path_: -> (model) { business_site_path(@business, model) },
                                        model: @sites,
                                        message: "This Business Has No Sites",
                                        form_path: -> () { new_business_site_path(@business) },
                                        } %>

  <%= render partial: "partials/nav_dropdown", locals: {
                                        title: "Members",
                                        path_: -> (model) { business_member_path(@business, model) },
                                        model: @members,
                                        message: "This Business Has No Members",
                                        form_path: -> () { new_business_membership_path(@business) },
                                        } %>

  <%= render partial: "partials/nav_dropdown", locals: {
                                        title: "Employees",
                                        path_: -> (model) { business_employee_path(@business, model) },
                                        model: @employees,
                                        message: "This Business Has No Employees",
                                        form_path: -> () { new_business_employee_path(@business) },
                                        } %>

  <%= link_to "Analytics", analytics_business_path(@business), class: "nav-link" %>
  <%= link_to "Edit", edit_business_path(@business), class: "nav-link" %>
  <%= link_to "All Businesses", businesses_path, class: "nav-link" %>
</nav>

<body>
  <%= render "partials/calendar" if @business.display_schedule %>
</body>