<nav class="page-specific">
  <h1><%= @business.name %></h1>
  <div><%= link_to "Analytics", analytics_business_path(@business), class: "nav-link" %></div>
  <div><%= link_to "Edit", edit_business_path(@business), class: "nav-link" %></div>
  <div><%= link_to "All Businesses", businesses_path, class: "nav-link" %></div>
</nav>

<body>
  <div>
    <% if @sites.any? %>
      Sites
      <% @sites.each do |site| %>
        <%= link_to site.name, business_site_path(site)%>
      <% end %>
    <% else %>
      This Business Has No Sites
    <% end %>
  </div>

  <div>
    <% if @members.any? %>
      Members
      <% @members.each do |member| %>
        <%= link_to member.name, business_member_path(@business, member)%>
      <% end %>
    <% else %>
      This Business Has No Members
    <% end %>
  </div>

  <div>
    <%= link_to "Add Employee", new_business_employee_path(@business) %>
    <% if @employees.any? %>
      Employees
      <% @employees.each do |employee| %>
        <%= link_to "#{employee.name} - #{employee.role}", business_employee_path(@business, employee)%>
      <% end %>
    <% else %>
      This Business Has No Employees
    <% end %>

    <%= render "partials/calendar" if @business.display_schedule %>
  </div>
</body>
