<nav class="nav-container">
  <h1>Articles</h1>
</nav>
Our blog has <%= Article.public_count %> articles and counting!

<ul>
  <% @articles.each do |article| %>
    <% unless article.archived? %>
    <li>
      <%# <a href="/articles/<%= article.id"> %> <%# this is now the line below using resources helper %>
      <%# <a href="<%= article_path(article) %> <%# this is now the line below using helper link_to %>
        <%= link_to article.title, article %>
        <%# <%= article.title  %>
        <%# got rid of this after adding link_to %>
    </li>
    <% end %>
  <% end %>
</ul>

<%= link_to "New Article", new_article_path %>
