<table>
  <caption><%= title %></caption>
  <thead>
    <tr>
      <% headers.each do |h| %>
        <th><%= h %></th>
      <% end %>
    </tr>
  </thead>
  <tbody>
    <% content.each do |c| %>
    <tr>
      <td><%= c.business.name %></td>
      <td><%= c.status.upcase %></td>
      <td>
        <%= c.subscription.upcase %>
        <span class="manage"><%= link_to "Manage", content_link.call(c)%><span>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>
