<nav class="page-specific">
  <h1> Editing Event <%= @event.id %> </h1>
  <%= link_to "Back to business", business_path(@business), class: "nav-link" %>
  <%= link_to "Back to this event", business_event_path(@business, @event), class: "nav-link" %>
  <%= link_to "All events", business_events_path(@business), class: "nav-link" %>
</nav>

<%= render "form", event: @event %>