<nav class="page-specific">
  <h1>Events</h1>
</nav>

<p style="color: green"><%= notice %></p>

<div id="events" >
  <% @events.each do |event| %>
    <%= render event %>
    <%= link_to "Show this event", business_event_path(@business, event) %>
  <% end %>
</div>

<%= render "partials/calendar" %>

<%= link_to "Back to business", business_path(@business) %>