<nav class="page-specific">
  <h1>Events</h1>
  <%= link_to "Back to business", business_path(@business), class: "nav-link" %>
</nav>

<p style="color: green"><%= notice %></p>

<div class="container" >
  <% @events.each do |event| %>
    <div class="card">
      <%= render event %>
      <%= link_to "Show this event", business_event_path(@business, event) %>
    </div>
  <% end %>
</div>

<%= render "partials/calendar" %>
