<p style="color: green"><%= notice %></p>

<nav class="nav-container">
  <h1>Events</h1>
</nav>

<div id="events" >
  <% @events.each do |event| %>
    <%= render event %>
    <%= link_to "Show this event", business_event_path(@business, event) %>
  <% end %>
</div>

<%= render "partials/calendar" %>

<%= link_to "Back to business", business_path(@business) %> |
<%= link_to "New event", new_business_event_path(@business) %>
