<p style="color: green"><%= notice %></p>

<%= render @event %>

<div>
  <%= link_to "Edit this event", edit_business_event_path(@business, @event) %> |
  <%= link_to "Back to events", business_events_path(@business) %>

  <%= button_to "Destroy this event", business_event_path(@business, @event), method: :delete %>
</div>
