<!DOCTYPE html>
<html>
  <head>
    <title>Gymothy</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <nav id="main-nav">
    <%= link_to "Home", root_path, class: "nav-link" %>
    <%= link_to "Sign Out", logout_path(), method: :delete, class: "nav-link" %>
    <% if notice || alert %>
      <div class="flash-box">
        <% if notice %>
          <p class="notice"><%= notice %></p>
        <% end %>
        <% if alert %>
        <p class="alert"><%= alert %></p>
        <% end %>
      <div>
    <% end %>
  </nav>

  <body>
    <%= yield %>
  </body>

  <footer>
    <div>Gymothy</div>
    <div><%= "Jaxon's LLC (or something) @#{Date.today.year}"%></div>
  </footer>
</html>
