<nav class="page-specific">
  <h1><%= @member.name %></h1>
  <%= link_to "Back to Business", business_path(@business), class: "nav-link" %>
  <%= link_to "Manage Memberships", manage_memberships_business_member_path(@business, @member), class: "nav-link" %>
</nav>

<div class="grid">
  <div class="grid-item">
    <div class="grid-card">
      picture
    </div>
    <div class="grid-card">
      something
    </div>
  </div>

  <div class="card">
    <p><%= @member.email %></p>
    <p><%= @member.phone_number %></p>
    <p>
      Interested in:
      <% @member.interested_events.each do |event| %>
        <div>
          <%= link_to event.name, business_event_path(@business, event) %>
          : <%= @member.find_event_interest(event).status %>
        </div>
      <% end %>
    </p>
  </div>

  <div class="card">
    Memberships:
    <% @memberships.each do |membership| %>
      <div>
        <%= link_to membership.business.name, business_path(membership.business)%>:
        <%= membership.status.upcase %>
      </div>
    <% end %>
  </div>

  <div class="card">
    Visited Sites:
    <% @visits.each do |visit| %>
      <div>
        <%= link_to  "#{visit.site.name}", business_site_visit_path(@business, visit.site, visit)%>
        <% s = visit.count == 1 ? "" : "s" %>
        <%= "#{visit.count} time#{s}" %>
      </div>
    <% end %>
  </div>
</div>

